# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Eclipse
.classpath
.project
.settings/
.factorypath

# IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Others
node_modules/
